<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>資産管理アプリ</title>
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/graph.css">
    <script src="/js/modal.js"></script>
    <script src="/js/graph.js"></script>
    <script src="/js/month-navigation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="setting-section">
        <a href="/setting">設定</a>
    </div>
    
    <div class="month-navigation">
        <button class="month-nav-button" id="prevMonthBtn">←前月</button>
        <span class="current-month" id="currentMonth" th:text="${targetYearMonth}"></span>
        <button class="month-nav-button" id="nextMonthBtn">翌月→</button>
    </div>
    
    <!-- 更新される部分 -->
    <div id="monthContent">
        <div th:insert="~{home-fragments/month-content :: monthContent}"></div>
    </div>

    <div id="calcInvestResult">
        <div th:insert="~{home-fragments/calc-invest-result :: calcInvestResult}"></div>
    </div>

    <!-- グラフ -->
    <div th:insert="~{home-fragments/graph :: graph}"></div>

</body>
</html>